<div class="details">
  <div class="pad6 sty">
    <label>Name </label>
    <h5>:</h5>
    <p>{{ currentUser.name }}</p>
  </div>
  <div class="pad6 sty">
    <label>Username </label>
    <h5>:</h5>
    <p>{{ currentUser.userName }}</p>
  </div>
  <div class="pad6 sty">
    <label>Email </label>
    <h5>:</h5>
    <p>{{ currentUser.email }}</p>
  </div>
  <div class="pad6 sty">
    <label>Mobile </label>
    <h5>:</h5>
    <p>{{ currentUser.mobile }}</p>
  </div>
  <div class="pad6 sty">
    <label>Address </label>
    <h5>:</h5>
    <p>{{ currentUser.address }}</p>
  </div>
</div>