.login ul li{
    display: inline-block;
    padding: 10px 20px;
}
.login ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Aller_Bold;
}
.login ul{
    margin: 0px;
    text-align: right;
    margin-right: 50px;
}
.header{
    background-color: #374176;
}
.login ul li a:hover{
    color: #d6d2d2;
}