/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0px;
    font-family: Aller_Rg;
    background-image: url("./assets/images/bg1.jpg");
}

@font-face {
    font-family: Aller_Rg;
    src: url("./assets/fonts/Aller_Rg.ttf");
  }
  
  
  @font-face {
    font-family: Aller_Bold;
    src: url("./assets/fonts/Aller_Bold.ttf");
  }

  .frmstyle{
    width: 25%;
    margin: auto;
    border: 2px solid #7d7676b5;
    padding: 10px 50px;
    margin-top: 14px;
    border-radius: 6px;
  }
  .frmstyle h3{
    text-transform: capitalize;
    font-family: Aller_Bold;
  }
  .txtcntr{
    text-align: center;
  }
  .txtcntr button{
    font-family: Aller_Bold;
   
  }
  .mat-button-wrapper{
    color: #000;
  }
  .active-link{
      border-bottom: 2px solid #ccc;
      padding: 5px 10px;
  }